<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="toggleClick.emit($event)">
        <mat-icon>menu</mat-icon>
    </button>
    <span><a href="/home"><img src="/favicon.png" alt="logo" [height]="parentRef?.topbarConfig?.logo?.height || 30"
                [width]="parentRef?.topbarConfig?.logo?.width || 30"></a></span>
    <span class="font-family-cursive"><a href="/home" style="color: #1c1c1c;">Mega Scan</a></span>
    <span class="topbar-spacer"></span>
    <a mat-button routerLink="/about">About</a>
</mat-toolbar>