<section class="wrapper-container">
    <app-header [parentRef]="this" (toggleClick)="drawer.toggle()"></app-header>
    <mat-drawer-container class="sidebar-container" [hasBackdrop]="true">
        <mat-drawer #drawer mode="over">
            <mat-nav-list style="padding: 5px;">
                @for (option of menuOptions; track option) {
                <a style="margin-top: 5px;" mat-list-item href="..." [routerLink]="option.RouterLink"
                    routerLinkActive="isActive">
                    <mat-icon matListItemIcon>{{option.icon}}</mat-icon>
                    <div matListItemTitle>{{option.name}}</div>
                </a>
                }
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <mat-spinner *ngIf="loading"></mat-spinner>
            <router-outlet (activate)='onActivate()' />
        </mat-drawer-content>
    </mat-drawer-container>
    <app-footer></app-footer>
</section>